body{
background:#f5f7fa;
}

.card{
border:none;
border-radius:25px;
max-width: 900px;
margin: 20px auto;
}

.card-header{
border-radius:25px 25px 0 0 !important;
padding: 20px;
}

.list-group-item{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
border-radius:8px;
padding:12px;
transition:.3s;
}

.list-group-item:hover{
background:#f8f9fa;
}

.task-text{
font-size:17px;
cursor:pointer;
flex:1;
}

.completed{
text-decoration:line-through;
color:gray;
}

.btn-group button{
margin-left:5px;
}

#searchInput{
margin-top:10px;
}

.card-footer{
background:#fff;
}

@media(max-width:576px){

.card{
margin:10px;
}

.btn-group{
display:flex;
gap:5px;
}

.task-text{
font-size:15px;
}

}